# 1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
for x in range(1,101):
    if(x%3==0 and x%5==0) : print("HelloWorld")
    elif(x%3==0) : print("Hello")
    elif(x%5==0) : print("World")
    else : print(x)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [2]:
tupla = ()

for x in range(1,101):
    if(x%3==0 and x%5==0) : tupla+=("HelloWorld",)
    elif(x%3==0) : tupla+=("Hello",)
    elif(x%5==0) : tupla+=("World",)
    else : tupla+=(x,)

    
tupla2 = ()         #creazione di una nuova tupla 

for x in range(0, len(tupla)):
    if(tupla[x]=="Hello"): tupla2+=("Phyton",)
    elif(tupla[x]=="World"): tupla2+=("Works",)
    else: tupla2+=(tupla[x],)

print(tupla2)

(1, 2, 'Phyton', 4, 'Works', 'Phyton', 7, 8, 'Phyton', 'Works', 11, 'Phyton', 13, 14, 'HelloWorld', 16, 17, 'Phyton', 19, 'Works', 'Phyton', 22, 23, 'Phyton', 'Works', 26, 'Phyton', 28, 29, 'HelloWorld', 31, 32, 'Phyton', 34, 'Works', 'Phyton', 37, 38, 'Phyton', 'Works', 41, 'Phyton', 43, 44, 'HelloWorld', 46, 47, 'Phyton', 49, 'Works', 'Phyton', 52, 53, 'Phyton', 'Works', 56, 'Phyton', 58, 59, 'HelloWorld', 61, 62, 'Phyton', 64, 'Works', 'Phyton', 67, 68, 'Phyton', 'Works', 71, 'Phyton', 73, 74, 'HelloWorld', 76, 77, 'Phyton', 79, 'Works', 'Phyton', 82, 83, 'Phyton', 'Works', 86, 'Phyton', 88, 89, 'HelloWorld', 91, 92, 'Phyton', 94, 'Works', 'Phyton', 97, 98, 'Phyton', 'Works')

# 2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [6]:
a="a"
b=1

def swap0(a,b):   #con variabile ausiliria
    c=a
    a=b
    b=c
    return(a,b)

a,b=swap0(a,b)
print(a," <-> ",b)

#-------------------------------

def swap1 (a,b) :    #senza variabile ausiliaria 
     return(b,a)
    
a,b=swap1(a,b)
print(a," <-> ",b)

#-------------------------------

def swap2(a,b):
    b,a = a,b
    return(a,b)

a,b=swap0(a,b)
print(a," <-> ",b)

1  <->  a
a  <->  1
1  <->  a

# 3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [12]:
import math

def distance(a,b):
    try:
        return( math.sqrt((a[0]-b[0])**2 + (a[1]-b[1])**2))
    except:
        return "Inserire input corretto"

a=(1,2)
b=(3,4)
print(distance(a,b))

c="stringa"
print(distance(a,c))

2.8284271247461903
Inserire input corretto

# 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [2]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

#----------soluzione 1---------------
l = list({x for x in s.lower()})

for i in range(0,len(l)) :
    n= s.lower().count(l[i])
    print( "%s : %u" %( l[i], n) )

print("")
    
#----------soluzione 2---------------
caratteri = {i:s.count(i) for i in s}
print(caratteri)

r : 19
a : 7
v : 2
s : 7
m : 8
d : 5
g : 1
f : 10
p : 8
b : 5
o : 15
t : 19
u : 7
e : 20
l : 12
i : 12
h : 11
c : 1
0 : 2
. : 3
  : 41
1 : 2
n : 10
w : 4

{'W': 3, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 7, 'u': 7, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 3, 'B': 1, 'l': 12, 'H': 2, 'd': 5, 'v': 2, 'F': 1, 'w': 1, 'c': 1}

# 5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


def conta_unici(s):
    try:  
        unici=[]
        for i in s :
            if s.count(i)==1 : unici.append(i)
            
        return(unici)
    
    except: return "Inserire lista di numeri valida"
    
    
#----------------------versione 2----------------------------
def conta_unici0(s):
    num=0
    unici=[]
    try:
        for i in range(0,len(s)):    #scorre tutta la lista
            count=0
            for j in range(0,len(s)):
                if s[i]==s[j]: count+=1   #controlla per doppioni
            
            if count==1:
                num+=1
                unici.append(s[i])
                
        return unici
    
    except: return "Inserire lista di numeri valida"
#-------------------------------------------------------------
        
        
lista_unici=conta_unici(l)
print(lista_unici)
if lista_unici!="Inserire lista di numeri valida":
    print("Numero di singoli= %u"%len(lista_unici))

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Numero di singoli= 37

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


l_dic = {i:l.count(i) for i in l}     #crea un dictionary dalla lista l
unici = [i for i in l_dic if l_dic[i]==1]    #seleziona e mette in una lista se il numero di occorrenza è 1 

print(unici)
print("Numero di singoli= %u" % len(unici))

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Numero di singoli= 37

 # 6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
def square(a):
    try: return a**2
    except: return "Inserire numero corretto"

def cube(a):
    try: return a**3
    except: return "Inserire numero corretto"
    
def power6(a):
    try: return square(cube(a))
    except: return "Inserire numero corretto"
    

print(square(3))
print(cube(3))
print(power6(3))

9
27
729

# 7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
lista_cubi=[]

for i in range(0,11):
    lista_cubi.append(i**3)
    
print(lista_cubi)


lista_cubi_2 = [i**3 for i in range(0,11)]

print(lista_cubi_2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [12]:

#------------Soluzione brute force--------------------
import math

pyt_trip=[]

for a in range(1,101):
    for b in range(a,101):
        for c in range(max(a,b),101):
            if a**2+b**2==c**2 : pyt_trip.append((a,b,c))
        
tupla_pt=tuple(pyt_trip)
print(tupla_pt)

print()

#------------Soluzione list comprehension--------------------

tupla= tuple((a,b,c) for a in range(1,101) for b in range(a,101) for c in range(max(a,b),101) if a**2+b**2==c**2)
print(tupla)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97))

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97))

# 9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
import math

def normalizza(a):
    norm=math.sqrt(sum([x**2 for x in a]))
    return tuple(x/norm for x in a)


a= (1,2,3)
print(normalizza(a))

(0.2672612419124244, 0.5345224838248488, 0.8017837257372732)